extends ../layout/main

block variables
	- var title = 'Бизнес-тренинг «Маркетинг – технология роста»';
	- var pageClass = 'training-page';

block content
	.training
		.container
			.breadcrumbs
				a(href="/") Главная 
				span /
				a(href="/trainings.html")  Тренинги
				span /
				a.active(href="/first-training.html") Бизнес-тренинг «Маркетинг – технология роста»
			h1.training__title Бизнес-тренинг «Маркетинг – технология роста»
			.training__clue
				p Для кого: руководители компаний, маркетологи, продавцы
				p Цели бизнес-тренинга:
			ul.training__program
				li Определение маркетинга как технологии роста
				li Организация маркетинга как сквозного бизнес-процесса
				li Получение практических навыков применения технологии маркетинга
			button.training__button.trainings__button.button_training.button(href="/first-training.html")
				span Подробнее
				span.button-icon
					img(src="../../assets/img/icons/arrow-circle-right.svg" alt="arrow right")

			.training__info
				h3.training__subtitle Программа бизнес-тренинга
				.training__topic
					h6.training__topic-title Функция маркетинга как бизнес-технологии
					ul.training__subtopics
						li Рынок как динамическая система взаимодействия потребительской и конкурентной сред
						li Поиск точек роста в непрерывно меняющейся рыночной среде
						li Прибыль компании как производная от управления маркетингом
						li Концепция 4Р маркетинга как универсальная модель реализации рыночных возможностей
				.training__topic
					h6.training__topic-title Практический инструментарий
					ul.training__subtopics
						li Количественные и качественные методы исследования рынка. Первичная информация как основа формирования эффективной стратегии. Отсутствие системности в получении и обработке информации – ключевые проблемы. Целеполагание на основе исследований.
						li Формирование товарной матрицы. Технология категорийного менеджмента. Кросс -конкурентный анализ, определение ролей продукта в товарной матрице. 
						li Ценообразование на основе рыночной ценности продукта. Выбор ценового позиционирования относительно конкурентов. Управление маржинальностью.
						li Управление коммуникациями с рынком. «Золотое» правило продвижения. Правила выбора каналов коммуникаций. Модели оценки эффективности затрат. Технологии интернет-маркетинга как эффективное дополнение к традиционным каналам продвижения. Основные ошибки в стратегии продвижения
						li Аналитика данных. Оцифрованная картина рынка как основа принятия эффективных решений. Типовые формы анализа основных показателей.  
				.training__topic
					h6.training__topic-title Организация маркетинга в компании
					ul.training__subtopics
						li Принципиальная схема бизнес-процесса маркетинга. Наиболее узкие места. Критерии оценки эффективности
						li Маркетинг-план как дорожная карта развития. Структура. Этапы планирования. Контрольные точки выполнения. 
						li Взаимодействие служб маркетинга и продаж как основа успешной реализации планов. Устранение разрывов в понимании рыночной ситуации. Создание общего информационного поля. 
				.training__topic
					h6.training__topic-title Кейсы-примеры:
					ul.training__subtopics
						li «Догнать и перегнать лидера рынка»
						li «Увеличить прибыль на падающем рынке»
						li «Comeback бывшего лидера»
						li «Повышаем маржинальность, не выходя из кабинета»
				.training__topic
					h6.training__topic-title Кейсы-примеры:
					p.training__text С заказчиком предварительно согласуется наиболее актуальная проблема. В заключительной части тренинга в ходе совместного обсуждения определяются подходы к ее решению. Результатом является определение целей и плана действий по их достижению.
				.training__topic
					h6.training__topic-title Бонусы:
					p.training__text 5 часов бесплатных консультаций в течение месяца после проведения тренинга.
					p.training__text Набор шаблонов для анализа ключевых показателей.
				.training__topic
					h6.training__topic-title Преимущества бизнес-тренинга:
					ul.training__subtopics
						li Составлен на основе опыта решения конкретных задач
						li Только необходимый минимум теории, не рассматривается плохо применяемый на практике инструментарий
						li Акцент на реальных примерах с разбором ошибок
						li Направлен на практическую реализацию, начиная с завтрашнего дня
				.training__topic
					h6.training__topic-title Форматы проведения:
					ul.training__subtopics
						li Групповой онлайн-формат, продолжительность 3 дня, по 4 часа в день
						li Индивидуальный онлайн-формат, продолжительность 2 дня, по 4 часа в день
						li групповой офлайн-формат, продолжительность 2 дня, по 8 часов в день

			.form-section
				form.training__form.form
					input.form__input(type="text" placeholder="Ваше имя")
					input.form__input(type="text" placeholder="Email")
					button.form__button.button(type="submit") Получить консультацию