extends ../layout/main

block variables
	- var title = 'Создаем решения для роста бизнеса';
	- var description = 'Создаем решения для роста бизнеса';
	- var pageClass = 'index-page';

block content
	section
		h1 Создаем решения для роста бизнеса
		p hello pugb